.App {
  text-align: center;
  background-color: #8ABD91;
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}

.searchGroup{
  margin: 5px;
}

.text-group{
  color: white;
}

.container{
  background-color: #8ABD91;
  height: 100%;
  max-width: 100%;
}

.title{
  background-color: #8ABD91;
  color: white;
  margin: 0;
}

.whisk{
 max-width: 100%;
 height: auto; 
}

.link{
  margin: auto;
}

.footer{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

}